// Custom styles.
// 主页文章添加阴影效果
@media screen and (min-width:1200px){

body { 
    background-image: url(/images/background.jpg);
    background-attachment: fixed; // 不随屏幕滚动而滚动
    background-repeat: no-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
    background-size: contain; // 等比例铺满屏幕
	background-position:50% 50%; 
	background-size:cover;
	background:rgba(255,255,255,0.9);
}
	#footer a {
        color:#eee;
		}

}